PuzzleInput/day1.txt
inputdata/day_01/day_01_actual.txt
inputdata/day_02/day_02_actual.txt
inputdata/day_03/day_03_actual.txt
inputdata/day_04/day_04_actual.txt
inputdata/day_05/day_05_actual.txt
inputdata/day_06/day_06_actual.txt
inputdata/day_07/day_07_actual.txt
